[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
brotli = "*"
pydantic = "*"
pymerkle = "*"
pybloomfiltermmap3 = "*"
lsh = "*"

[dev-packages]
ipykernel = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.11"
